<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pass reset confirm</title>
</head>
<body>
{% if validlink %}
<h1>Pass reset confirm</h1>
    <form method="post">
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva contraseña:</label>{{ form.new_password1 }}
    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
    <input type="submit" value="Change password">
</form>
{% else %}
<h1 class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO!!!...</h1>
{% endif %}
</body>
</html>
