<!DOCTYPE html>
<html lang="es-cl">
{% load staticfiles%}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Mis Perris
        {% endblock %}</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/album.css' %}">
    {% block head %}

    {% endblock %}
</head>

<body>
    {% load static %}
    {% for listitem in list %}
    <p>{{ listitem }}</p>
    {% endfor %}
    {% block header %}

  
    {% endblock %}

    {% block carrusel %}
   
    {% endblock %}
    {% block bajocarrusel %}
   

    {% endblock %}
    {% block body %}
  

    {% endblock %}
    <footer class="row center-xs">
            Copyright  &copy; Todos los derechos reservados, <a href="https://www.instagram.com/computerapes/"> <strong>C</strong>omputer<strong>A</strong>pes.com</a>
    </footer>

    <!--JS FILES-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block script %}

    {% endblock %}
</body>

</html>