{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block carrusel %}{% endblock %}
{% block bajocarrusel %}{% endblock %}
{%block body %}

{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}
<br><br>

    <div class="container">

        <form class="" role="form" method="POST" >
            {% csrf_token %}

            <div class="container">
                 <div class="form-group">
                    {{ login_form.usr.label }}<br>
                    {{ login_form.usr }}
                     {{ login_form.usr.help_text }}
                     {{ login_form.usr.error }}
                </div>
                <div class="form-group">
                    {{ login_form.pwd.label }}<br>
                    <div class="form-control">
                        {{ login_form.pwd }}
                    </div>
                    {{ login_form.pwd.help_text }}
                    {{ login_form.pwd.errors }}
                </div>
            </div>

            <div class="form-group">
                <label for="nombre">Name</label>
                <input type="text" name="nombre" id="" placeholder="Ingrese su nombre" class="form-control">
            </div>

            <br>
            <div class="form-group">
                <button class="btn btn-color">Entrar</button>
            </div>

        </form>
    </div>

    <br><br>

{% endblock %}
