<!DOCTYPE html>
<html lang="en">
    
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>

<body>
{% load static %}
<div class="box">
    <h2>Login</h2>
    <form class="" role="form" method="POST">
            {% csrf_token %}
        <div class="inputBox">
            <input name="usr"type="text" required="">
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input name="pwd" type="password" required="">
            <label>Password</label>
        </div>
      
        <input type="submit" value="submit"> 
    </form>
</div>



    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>


</body>



</html>