input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
   box-shadow: 0 15px 25px rgba(0,0 ,0,.5);

}


body{

    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    background-size: cover;
    background-color: #03a9f4;

}


.box
{
   
    
    

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 12%;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0 ,0,.5);
    border-radius:  10px;

}



.box h2{


    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox
{

    position: relative;
    
}

.box .inputBox input{

   
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:  #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    letter-spacing: 1px;

}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    letter-spacing: 1px;

}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    padding: unset;
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;

}

.box input{

    background: transparent;
    border: none;
    outline: none;
    color: floralwhite;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}